/* =========================
 * Custom Button 
 * ========================= */

.btn-ppt {
	color: #fff;
    background-color: $color-1;
    border-color: darken($color-1, 5%);
    &:hover {
        background-color: darken($color-1, 5%);
        border-color: darken($color-1, 5%);
        transition: .2s;
    }
}
