/* ------------------- */

// utility mixin

/* ------------------- */

@mixin spacepad($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin spacepad-sides($value) {
    padding-top: $value;
    padding-bottom: $value;
    padding-left: $value;
    padding-right: $value;
}

@mixin spacepad-nosides($value) {
    padding-top: $value;
    padding-bottom: $value;
    padding-left: 0;
    padding-right: 0;
}

@mixin spacemar($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin spacemar-nosides($value) {
    margin-top: $value;
    margin-bottom: $value;
    margin-left: 0;
    margin-right: 0;
}

@mixin nosides($args) {
    #{$args}-left: 0;
    #{$args}-right: 0;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: translate($args);
    -moz-transform: translate($args);
    -ms-transform: translate($args);
    -o-transform: translate($args);
    transform: translate($args);
}

// replacing media queries
@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

@mixin breakpoint2($min: 0, $max: 0) {
    $type: type-of($min);
    @if $type==string {
        @if $class==xs {
            @media (max-width: 767px) {
                @content;
            }
        }
        @else if $class==sm {
            @media (min-width: 768px) {
                @content;
            }
        }
        @else if $class==md {
            @media (min-width: 992px) {
                @content;
            }
        }
        @else if $class==lg {
            @media (min-width: 1200px) {
                @content;
            }
        }
        @else {
            @warn "Breakpoint mixin supports: xs, sm, md, lg";
        }
    }
    @else if $type==number {
        $query: "all" !default;
        @if $min !=0 and $max !=0 {
            $query: "(min-width: #{$min}) and (max-width: #{$max})";
        }
        @else if $min !=0 and $max==0 {
            $query: "(min-width: #{$min})";
        }
        @else if $min==0 and $max !=0 {
            $query: "(max-width: #{$max})";
        }
        @media #{$query} {
            @content;
        }
    }
}
