/* =================
 * Utility Classes
 * ================= */

.__fullwidth {
    width: 100%;
}

.__segment {
    padding: 0 1em 100px 1em;
    margin-bottom: 100px;
    position: relative;
    background-color: #f4f4f4;
    border-top: 1px solid #dededb;
}
.__spacemar {
	margin-top: 15px;
	margin-bottom: 15px;
}

.__spacepad {
	padding-top: 15px;
	padding-bottom: 15px;
}

.__nopadding {
	padding-right: 0;
	padding-left: 0;
}

.__nopaddingleft {
	padding-left: 0;
}

.__nopaddingright {
	padding-right: 0;
}

.__bold {
	font-weight: 700 !important;
}

.__right {
	float: right;
}

.__left {
	float: left;
}
ul.__nodot li {
	list-style-type: none !important;
}

.active {
	display: block;
}
.not-active {
	display: none;
}

.__disabled {
	pointer-events: none;
}
._visHidden {
	visibility: hidden;
}
.custom-container {
	max-width: 768px;
	width: 100%;
	@extend .container;
}