/* =========================
 * Footer Style 
 * ========================= */

.site-footer {
    background: $color-1;
    @extend .__spacepad;
    min-height: 100px;
    .footer-content {
        width: 100%;
        color: #fff;
        display: block;
        text-align: center;
        .fa {
            background: $color-2;
            padding: 10px 12px 10px 15px;
            line-height: inherit;
            border-radius: 50%;
        }
    }
}
