/* ======================
 * MixItUp SCSS
 * ====================== */

#video .mix {
	display: none;
}

#the_filter {
	border-bottom: 2px solid $color-1;
	.filter {
		cursor: pointer;
		text-align: center;
		color: $color-1;
	}
}
