/* =========================
 * Submenu Styling
 * ========================= */

.submenu {
    .page_item {
    	padding: 10px 5px;
    	cursor: pointer;
    	transition: 0.2s;
    	&:hover,
    	&:focus {
    		background: $color-2;
    		a {
    			color: #fff;
    		}
    	}
        a {
            text-transform: capitalize;
            font-weight: 700;
            color: $color-1;
            
            &:hover {
            	text-decoration: none !important;
            }
        }
    }
}
