/* ===================================
 * list of overrides and base style
 * =================================== */


/* set the base font */
html, body {
    font-size: 12pt;
}

.site {
	margin: 0; // remove margin from site
	
	&-inner {
		max-width: 100%;
	}
	// remove padding top and bottom for site-header
	&-header {
		padding-top: 0;
		padding-bottom: 0;
	}

	//remove padding left/right for site-content
	&-content {
		padding: 0;
	}

}

.content-area {
	float: none;
	margin-right: 0;
	width: 100%;
}