/* ===================================
 * list of overrides and base style
 * =================================== */


/* set the base font */

html,
body {
    font-size: 12pt;
}

// remove some extra space on the bottom
body:after {
    content: '';
    display: none !important;
}

// prevent border to add width
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.site {
    margin: 0; // remove margin from site
    &-inner {
        max-width: 100%;
    }
    // remove padding top and bottom for site-header
    &-header {
        padding-top: 0;
        padding-bottom: 0;
    }
    //remove padding left/right for site-content
    &-content {
        padding: 0;
    }
}

// overwrite the content-area default css for fullwidth layout
.content-area {
    float: none;
    margin-right: 0;
    width: 100%;
}

// change the site title color 
.site-branding .site-title a {
    color: $color-1 !important;
    &:hover {
    	text-decoration: none !important;
    }
}

// hide site desc for now
.site-description {
    display: none;
}

// remove margin bottom from slick container carousel
.slick-slider {
	margin-bottom: 0;
    overflow: hidden; //remove extra space on mobile on the whole page
}

/* ==============================
 * Overwrite Vidio embed code
 * ============================== */

iframe.vidio-embed {
    margin-bottom : 0;
    height: 200px; //default height
    @include breakpoint('sm') {
        height: 200px; //tablet and small pc
    }
    @include breakpoint('md') {
        height: 200px; //small pc and above
    }
}